$red: red;
$green: green;
$blue: blue;
$black: black;
$white: white;
$yellow: yellow;
$gold: gold;
$purple: purple;
$cyan: cyan;
$orange: orange;
$orangered: orangered;
$pink: pink;
$violet: violet;
$yellowgreen: yellowgreen;
$tomato: tomato;
$tan: tan; // 茶色
$snow: snow;
$gray: gray;
$silver: silver;
$skyblue: skyblue;
$navy: navy; // 海军蓝
$brown: brown; // 褐色
$beige: beige; // 米色

$c000: #000;
$c222: #222;
$c333: #333;
$c555: #555;
$c666: #666;
$c999: #999;
$aaa: #aaa;
$ccc: #ccc;
$eee: #eee;
$fff: #fff;

$likeblue: rgb(0, 170, 220);
