$size10: 10;
$size15: 15;
$size20: 20;
$size25: 25;
$size30: 30;

// margin
.pad10 { padding: 10px; }
.pad15 { padding: 15px; }
.pad20 { padding: 20px; }
.pad25 { padding: 25px; }
.pad30 { padding: 30px; }

.pad-top10 { padding-top: 10px; }
.pad-top15 { padding-top: 15px; }
.pad-top20 { padding-top: 20px; }
.pad-top25 { padding-top: 25px; }
.pad-top30 { padding-top: 30px; }
.pad-bottom10 { padding-bottom: 10px; }
.pad-bottom15 { padding-bottom: 15px; }
.pad-bottom20 { padding-bottom: 20px; }
.pad-bottom25 { padding-bottom: 25px; }
.pad-bottom30 { padding-bottom: 30px; }

// padding
.margin10 { margin: 10px; }
.margin15 { margin: 15px; }
.margin20 { margin: 20px; }
.margin25 { margin: 25px; }
.margin30 { margin: 30px; }

.margin-top10 { margin-top: 10px; }
.margin-top15 { margin-top: 15px; }
.margin-top20 { margin-top: 20px; }
.margin-top25 { margin-top: 25px; }
.margin-top30 { margin-top: 30px; }
.margin-bottom10 { margin-bottom: 10px; }
.margin-bottom15 { margin-bottom: 15px; }
.margin-bottom20 { margin-bottom: 20px; }
.margin-bottom25 { margin-bottom: 25px; }
.margin-bottom30 { margin-bottom: 30px; }

// height
.height100 { height: 100%; }
.h20 { height: 20px; }
.h30 { height: 30px; }
.h40 { height: 40px; }
.h45 { height: 45px; }
.h50 { height: 50px; }
.h60 { height: 60px; }
.h70 { height: 70px; }
.h80 { height: 80px; }
.h90 { height: 90px; }
.h100 { height: 100px; }

// width
.width100 { width: 100%; }
.width50 { width: 50%; }
